<div class="row">
<%= simple_form_for([:admin, status]) do |f| %>
  <% if status.errors.any? %>
  <div class="col-md-12">
      <div class="callout callout-danger">
        <%= pluralize(status.errors.count, "error") %> prohibited this status from being saved
      </div>
  </div>
  <% end %>
  <div class="col-md-6">
    <!-- Default box -->
    <div class="box">
      <div class="box-body">
        <div class="form-group <%= "has-error" if status.errors[:code].any? %>">
          <%= f.label :code, t(:code) %>
          <%= f.text_field :code, class: 'form-control' %>
          <% if status.errors[:code].any? %>
            <label class="control-label"><i class="fa fa-times-circle-o"></i> <%= f.error :code %></label>
          <% end %>
        </div>
        <div class="form-group <%= "has-error" if status.errors[:label].any? %>">
          <%= f.label :label, t(:label) %>
          <%= f.text_field :label, class: 'form-control' %>
          <% if status.errors[:label].any? %>
            <label class="control-label"><i class="fa fa-times-circle-o"></i> <%= f.error :label %></label>
          <% end %>
        </div>
        <div class="form-group <%= "has-error" if status.errors[:description].any? %>">
          <%= f.label :description, t(:description) %>
          <%= f.text_area :description, class: 'form-control' %>
          <% if status.errors[:description].any? %>
            <label class="control-label"><i class="fa fa-times-circle-o"></i> <%= f.error :description %></label>
          <% end %>
        </div>
        <div class="checkbox">
          <%= f.label :is_final_state do %>
            <%= f.check_box :is_final_state %>
            <%= t(:is_final_state) %>
          <% end %>
        </div>
        <div class="form-group <%= "has-error" if status.errors[:fa_icon].any? %>">
          <%= f.label :fa_icon, t(:fa_icon) %>
          <%= f.text_field :fa_icon, class: 'form-control' %>
          <p class="help-block"><%= t(:list_of_icons_available) %> <%= link_to t(:here), "https://fortawesome.github.io/Font-Awesome/icons/", :target => "_blank" %></p>
          <% if status.errors[:fa_icon].any? %>
            <label class="control-label"><i class="fa fa-times-circle-o"></i> <%= f.error :fa_icon %></label>
          <% end %>
        </div>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
</div>

<%= display_button_bar(status, [:admin]) %>
<% end %>
