<div class="row">
<%= form_for([:admin, comment]) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <!-- Default box -->
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title"><%= t(:details) %></h3>
      </div>
      <div class="box-body">
        <div class="form-group">
          <%= f.label :comment, t(:comment) %><br>
          <%= f.text_area :comment, class:"form-control" %>
        </div>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
  <div>


    <%= display_button_bar(comment, [:admin]) %>
  <% end %>
