<section class="content-header">
<h1>
  <%= t(:viewing_comment) %>
</h1>
</section>

<section class="content">
  <%= display_notice notice %>
  <div class="row">
    <div class="col-md-8">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"><%= t :comments %></h3>
        </div>
        <div class="box-body">

            <div class="media">
              <a class="pull-left" href="#">
                <%= image_tag avatar_url(@comment.user), alt: t(:avatar), class: "media-object thumbnail" %>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><%= full_name(@comment.user) %> <small><%= time_ago_in_words @comment.created_at %> <%= t :ago %></small></h4>
                <%= @comment.comment %>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>


<%= display_button_bar(@comment, [:admin]) %>

</section>


