<section class="content-header">
<h1>
  <%= t(:configuration) %>
	<small><%= Rails.env %></small>
</h1>
</section>

<section class="invoice">
	<!-- title row -->
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">
        <i class="fa fa-code"></i> <%= t(:api_keys) %>
			</h2>
		</div><!-- /.col -->
	</div>
	<!-- info row -->
	<div class="row">
		<div class="col-xs-12">
      <p class="lead"><%= t(:facebook) %></p>
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
              <th style="width:50%"><%= t(:app_id) %>:</th>
							<td><%= ENV['FACEBOOK_APP_ID'] %></td>
						</tr>
						<tr>
              <th><%= t(:secret_id) %>:</th>
							<td><%= ENV['FACEBOOK_SECRET_ID'] %></td>
						</tr>
					</tbody>
				</table>
			</div>
      <p class="lead"><%= t(:google_maps) %></p>
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
              <th style="width:50%"><%= t(:browser_api_key) %>:</th>
							<td><%= ENV['GOOGLE_MAP_API_KEY'] %></td>
						</tr>
					</tbody>
				</table>
			</div>
      <p class="lead"><%= t(:google_analytics) %></p>
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
              <th style="width:50%"><%= t(:tracker) %>:</th>
							<td><%= ENV['GOOGLE_ANALYTICS_TRACKER'] %></td>
						</tr>
					</tbody>
				</table>
			</div>

      <p class="lead"><%= t(:twitter) %></p>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
                <th style="width:50%"><%= t(:consumer_key) %>:</th>
								<td><%= ENV['TWITTER_CONSUMER_KEY'] %></td>
							</tr>
							<tr>
                <th style="width:50%"><%= t(:consumer_secret) %>:</th>
								<td><%= ENV['TWITTER_CONSUMER_SECRET'] %></td>
							</tr>
							<tr>
                <th style="width:50%"><%= t(:access_token) %>:</th>
								<td><%= ENV['TWITTER_ACCESS_TOKEN'] %></td>
							</tr>
							<tr>
                <th style="width:50%"><%= t(:access_token_secret) %>:</th>
								<td><%= ENV['TWITTER_ACCESS_TOKEN_SECRET'] %></td>
							</tr>
						</tbody>
					</table>
				</div>
		<% if Rails.env == "production" %>
      <p class="lead"><%= t(:amazon_s3) %></p>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
                <th style="width:50%"><%= t(:bucket) %>:</th>
								<td><%= ENV['S3_BUCKET_NAME'] %></td>
							</tr>
							<tr>
                <th style="width:50%"><%= t(:aws_access_key_id) %>:</th>
								<td><%= ENV['AWS_ACCESS_KEY_ID'] %></td>
							</tr>
							<tr>
                <th style="width:50%"><%= t(:aws_secret_access_key) %>:</th>
								<td><%= ENV['AWS_SECRET_ACCESS_KEY'] %></td>
							</tr>
						</tbody>
					</table>
				</div>
			<% end %>
		</div>
	</div><!-- /.row -->

</section>

<div class="clearfix"></div>

