<section class="content-header">
<h1>
  <%= t(:dashboard) %>
  <small><%= t(:control_panel) %></small>
</h1>
</section>

<section class="content">

	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-aqua">
				<div class="inner">
					<h3>
						<%= @site_count %>
					</h3>
					<p>
          <%= t(:sites) %>
					</p>
				</div>
				<div class="icon">
					<i class="fa fa-map-marker"></i>
				</div>
				<%= link_to admin_sites_path, class: "small-box-footer" do %>
          <%= t(:more_info) %> <i class="fa fa-arrow-circle-right"></i>
				<% end %>
			</div>
		</div><!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-red">
				<div class="inner">
					<h3>
						<%= @lines_km %>
					</h3>
					<p>
          <%= t(:km) %>
					</p>
				</div>
				<div class="icon">
					<i class="fa fa-minus"></i>
				</div>
				<%= link_to admin_lines_path, class: "small-box-footer" do %>
          <%= t(:more_info) %> <i class="fa fa-arrow-circle-right"></i>
				<% end %>
			</div>
		</div><!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-green">
				<div class="inner">
					<h3>
						<%= @rating_count %>	
					</h3>
					<p>
          <%= t(:rates) %>
					</p>
				</div>
				<div class="icon">
					<i class="fa fa-star"></i>
				</div>
				<%= link_to "#", class: "small-box-footer" do %>
          <%= t(:more_info) %> <i class="fa fa-arrow-circle-right"></i>
				<% end %>
			</div>
		</div><!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-yellow">
				<div class="inner">
					<h3>
						<%= @user_count %>
					</h3>
					<p>
          <%= t(:users) %>
					</p>
				</div>
				<div class="icon">
					<i class="ion ion-person"></i>
				</div>
				<%= link_to admin_users_path, class: "small-box-footer" do %>
          <%= t(:more_info) %> <i class="fa fa-arrow-circle-right"></i>
				<% end %>
			</div>
		</div><!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-purple">
				<div class="inner">
					<h3>
						<%= @report_count %>
					</h3>
					<p>
          <%= t(:reports) %>
					</p>
				</div>
				<div class="icon">
					<i class="fa fa-exclamation-triangle"></i>
				</div>
				<%= link_to admin_reports_reports_path, class: "small-box-footer" do %>
          <%= t(:more_info) %> <i class="fa fa-arrow-circle-right"></i>
				<% end %>
			</div>
		</div><!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-maroon">
				<div class="inner">
					<h3>
						<%= @comment_count %>
					</h3>
					<p>
          <%= t(:comments) %>
					</p>
				</div>
				<div class="icon">
					<i class="fa fa-comments"></i>
				</div>
				<%= link_to admin_comments_path, class: "small-box-footer" do %>
          <%= t(:more_info) %> <i class="fa fa-arrow-circle-right"></i>
				<% end %>
			</div>
		</div><!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-navy">
				<div class="inner">
					<h3>
						<%= @newsletter_count %>
					</h3>
					<p>
          <%= t(:"Newsletter's emails") %>
					</p>
				</div>
				<div class="icon">
					<i class="fa fa-envelope"></i>
				</div>
				<%= link_to admin_newsletters_path, class: "small-box-footer" do %>
          <%= t(:more_info) %> <i class="fa fa-arrow-circle-right"></i>
				<% end %>
			</div>
		</div><!-- ./col -->
	</div><!-- /.row -->


</section>
