<section class="content-header">
<h1>
  <%= t(:zones) %>
</h1>
</section>

<section class="content">
  <%= display_notice notice %>
  <div class="row">

    <% @zones.each do |zone| %>
      <div class="col-md-4">
        <!-- Default box -->
        <div class="box">
          <div class="box-header">
            <h3 class="box-title"><%= link_to zone.name, admin_zone_path(zone) %></h3>
          </div>
          <div class="box-body">
            <div class="map-container">
              <div class="map map-content" data-map-zone data-map-boundary="<%= polygon_to_s(zone.polygon) %>"/>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-right">
                <%= link_to '<i class="fa fa-eye"></i>'.html_safe, admin_zone_path(zone), class: 'btn btn-default' %>
                <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_zone_path(zone), class: 'btn btn-default' %>
                <%= link_to '<i class="fa fa-trash"></i>'.html_safe, admin_zone_path(zone), method: :delete, data: { confirm: t('are_you_sure?') }, class: 'btn btn-danger' %>
              </div>
              <div class="clearfix">
              </div>
            </div><!-- /.box -->
          </div><!-- /.box -->
        </div>
      </div>
    <% end %>


  </div><!-- /.row -->


  <%= display_button_bar(@zones, [:admin]) %>

</section>
