<section class="content-header">
<h1>
	<%= t(:viewing_zone) %>
</h1>
</section>

<section class="content">
  <%= display_notice notice %>
  <div class="row">

    <div class="col-md-6">
      <div class="box box-solid">
        <div class="box-header">
          <h3 class="box-title">Details</h3>
        </div>
        <div class="box-body no-padding">
          <table class="table">
            <tbody>
              <tr>
                <th><%= t(:name) %></th>
                <td><%= @zone.name %></td>
              </tr>
              <tr>
                <th><%= t(:description) %></th>
                <td><%= @zone.description %></td>
              </tr>
              <tr>
                <th><%= t(:added_by) %></th>
                <td><%= full_name(@zone.user) %></td>
              </tr>
            </tbody></table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->

      <div class="box box-solid">
        <div class="box-header">
          <h3 class="box-title"><%= t(:moderators) %></h3>
        </div>
        <div class="box-body no-padding">
          <table class="table">
            <tbody>
              <% @zone.moderators.each do |moderator| %>

                <tr>
                  <td><%= link_to moderator.full_name, admin_user_path(moderator)  %></td>
                </tr>

              <% end %>
            </tbody></table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
    <div class="col-md-6">
      <!-- Default box -->
      <div class="box box-solid">
        <div class="box-body">
          <div id="map-canvas" style="height:480px; wibh:auto"></div>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>

  </div>

  <%= display_button_bar(@zone, [:admin]) %>
</section>



<script type="text/javascript">

google.maps.Polygon.prototype.getBounds = function() {
    var bounds = new google.maps.LatLngBounds();
    var paths = this.getPaths();
    var path;        
    for (var i = 0; i < paths.getLength(); i++) {
        path = paths.getAt(i);
        for (var ii = 0; ii < path.getLength(); ii++) {
            bounds.extend(path.getAt(ii));
        }
    }
    return bounds;
}

function initialize() {

	var mapOptions = {
		center: new google.maps.LatLng(0, 0),
		zoom: 1
	};

	var map = new google.maps.Map(document.getElementById("map-canvas"),
			mapOptions);

	var path = [];

	var str_path = "<%= polygon_to_s(@zone.polygon) %>";

	$.parseJSON(str_path).forEach(function(elt, idx) {
		path.push(new google.maps.LatLng(elt[0], elt[1]));
	});
	
			
	var polygon = new google.maps.Polygon({
	    paths: path,
	    map: map,
	    strokeOpacity: 0.8,
	    strokeWeight: 2,
	    fillOpacity: 0.35
	});


	map.fitBounds(polygon.getBounds());
	
};


google.maps.event.addDomListener(window, 'load', initialize);

</script>
