<section class="content-header">
<h1>
  <%= t(:sites_to_review) %>
</h1>
</section>

<section class="content">

  <% if @sites.count == 0 %>
    <div class="alert alert-warning">
      <i class="fa fa-warning"></i>
      <b><%= t(:warning) %></b> <%= t(:there_are_no_new_sites_to_review) %>. <%= t(:please_come_again_later) %>.
    </div>
  <% end %>

  <div class="row">
    <% @sites.each do |site| %>
      <div class="col-md-6">
        <!-- Danger box -->

        <div class="box box-solid box-<%= (site.has_been_reviewed)?"default":"warning" %>">
          <div class="box-header">
            <h3 class="box-title"><%= site.name %></h3>
          </div>
          <div class="box-body no-padding">
            <table class="table" style="table-layout: fixed">
              <tbody>
                <tr><th style="width:25%"><%= t(:description) %></th> <td style="width:75%; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;"><%= site.description %></td></tr>
                <tr><th><%= t(:category) %></th> <td><%= site.category_name %> <%= image_tag site.category.icon.url, style:"max-height: 30px" %></td></tr>
                <tr><th><%= t(:added_by) %></th> 
                  <td><%= added_by(site) %></td>
                </tr>
              </tbody>
            </table>

          </div><!-- /.box-body -->
          <div class="box-footer clearfix">
            <div class="btn-group pull-right" style="margin-left:7px">
              <%= link_to t(:show), moderator_site_path(site), class:"btn btn-default" %>
              <%= link_to t(:edit), edit_moderator_site_path(site), class:"btn btn-default" %>
              <%= link_to t(:destroy), moderator_site_path(site), method: :delete, data: { confirm: t('are_you_sure?') }, class: "btn btn-danger" %>
            </div>
            <div class="btn-group pull-right">
              <%= link_to t(:deactivated), {:controller => 'sites', :action => 'deactivate', :id => site}, class:"btn btn-default" + ((!site.is_active && site.has_been_reviewed)?" active ":"") %>
              <%= link_to t(:activated), {:controller => 'sites', :action => 'activate', :id => site}, class:"btn btn-default" + ((site.is_active && site.has_been_reviewed)?" active":"") %>
            </div>
          </div>
        </div><!-- /.box -->
      </div><!-- /.col -->
    <% end %>
  </div>

  <% if @sites.total_pages > 1 %>
    <div class="row">
      <div class="col-md-12">
        <div class="box box-solid">
          <div class="box-body"> 
            <%= paginate @sites %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</section>
