<section class="content-header">
<h1>
  <%= t :viewing_sub_category %> 
</h1>
</section>

<section class="content">
  <%= display_notice notice %>

  <div class="row">
    <div class="col-md-6">


      <!-- Default box -->
      <div class="box box-solid">
        <div class="box-header">
          <h3 class="box-title"><%= t(:details) %></h3>
        </div>
        <div class="box-body no-padding">
          <table class="table">
            <tbody>
              <tr>
                <th><%= t(:name) %></th>
                <td><%= @reports_sub_category.name %></td>
              </tr>
              <tr>
                <th><%= t(:description) %></th>
                <td><%= @reports_sub_category.description %></td>
              </tr>
              <tr>
                <th><%= t(:category) %></th>
                <td><%= @reports_sub_category.category.name %></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div><!-- /.box -->

    </div>
  </div>

<%= display_button_bar(@reports_sub_category, [:admin]) %>

</section>
