<section class="content-header">
<h1>
  <% t(:viewing_category) %> 
</h1>
</section>

<section class="content">
  <%= display_notice notice %>

  <div class="row">
    <div class="col-md-6">
      <!-- Custom Tabs -->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_1" data-toggle="tab"><%= image_tag "flags/gb.png" %> English</a></li>
          <li><a href="#tab_2" data-toggle="tab"><%= image_tag "flags/fr.png" %> French</a></li>
          <li><a href="#tab_3" data-toggle="tab"><%= image_tag "flags/es.png" %> Spanish</a></li>
        </ul>
        <div class="tab-content no-padding">
          <div class="tab-pane active" id="tab_1">
            <table class="table">
              <tbody>
                <tr>
                  <th style="border-style: none"><%= t(:name) %></th>
                  <td style="border-style: none"><%= @category.name_en %></td>
                </tr>

                <tr>
                  <th><%= t(:description) %></th>
                  <td><%= @category.description_en %></td>
                </tr>
              </tbody></table>
          </div><!-- /.tab-pane -->
          <div class="tab-pane" id="tab_2">
            <table class="table">
              <tbody>
                <tr>
                  <th style="border-style: none"><%= t(:name) %></th>
                  <td style="border-style: none"><%= @category.name_fr %></td>
                </tr>

                <tr>
                  <th><%= t(:description) %></th>
                  <td><%= @category.description_fr %></td>
                </tr>
              </tbody></table>
          </div><!-- /.tab-pane -->
          <div class="tab-pane" id="tab_3">
            <table class="table">
              <tbody>
                <tr>
                  <th style="border-style: none"><%= t(:name) %></th>
                  <td style="border-style: none"><%= @category.name_es %></td>
                </tr>

                <tr>
                  <th><%= t(:description) %></th>
                  <td><%= @category.description_es %></td>
                </tr>
              </tbody></table>
          </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
      </div><!-- nav-tabs-custom -->
    </div>

    <div class="col-md-6">
      <!-- Default box -->
      <div class="box box-solid">
        <div class="box-header">
          <h3 class="box-title"><%= t(:details) %></h3>
        </div>
        <div class="box-body no-padding">
          <table class="table">
            <tbody>
              <tr>
                <th><%= t(:variety) %></th>
                <td><%= @category.variety %></td>
              </tr>
              <tr>
                <th><%= t(:is_public) %></th>
                <td><%= bool(@category.is_public) %></td>
              </tr>

              <tr>
                <th><%= t(:is_active) %></th>
                <td><%= bool(@category.is_active) %></td>
              </tr>
              <tr>
                <th><%= t(:is_initial) %></th>
                <td><%= bool(@category.is_initial) %></td>
              </tr>
              <% if @category.variety == "LIN" then %>

                <tr>
                  <th><%= t(:color) %></th>
                  <td><span style="display: inline-block; background-color: <%=@category.color%>"><%= @category.color %></span></td>
                </tr>

              <% else %>

                <tr>
                  <th><%= t(:icon) %></th>
                  <td><%= image_tag @category.icon.url %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div><!-- /.box -->
    </div>


  </div>

<%= display_button_bar(@category, [:admin]) %>

</section>

