<div class="row">


<%= form_for([:admin, report]) do |f| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col-md-4">
    <div class="thumbnail" id="map-canvas" style="width:100%; height: 350px;"></div>
  </div>
  <div class="col-md-8">

    <!-- Default box -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Details</h3>
      </div>
      <div class="box-body">
        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_area :description, class:"form-control" %>
        </div>
        <%= f.hidden_field :latitude %>
        <%= f.hidden_field :longitude %>
        <div id="cascading">
          <div class="form-group">
            <%= f.label :category %><br>
            <%= f.select(:category_id, Reports::Category.all.collect {|c| [ c.name, c.id ] }, {}, class: "form-control", id: "category")  %>
          </div>
          <div class="form-group">
            <%= f.label :sub_category %><br>
            <%= f.select(:sub_category_id, {}, {}, class: "form-control", id: "sub_category")  %>
          </div>
        </div>
      </div>
      <div class="box-footer clearfix">
        <div class="actions">
          <%= f.submit class: "btn btn-primary pull-right" %>
        </div>
      </div>
    </div>
<% end %>

<% if action_name == "edit" %>
  <%= form_tag({controller: '/admin/reports/reports', action: 'update_status', id: report.id }, method: :put) do %> 
    <!-- Default box -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"><%= t(:status) %></h3>
      </div>
      <div class="box-body">
        <div class="form-group">
          <%= label_tag :status %><br>
          <%= select_tag(:status_code, options_from_collection_for_select(Reports::Status.all, :code, :label), { class: "form-control", id: "status" })  %>
        </div>
        <div class="form-group">
          <%= label_tag :comment %><br>
          <%= text_area_tag(:comment, nil, class: "form-control")  %>
        </div>
      </div>
      <div class="box-footer clearfix">
        <div class="actions">
          <%= submit_tag t(:update_status), class: "btn btn-primary pull-right" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


  </div>


<script type="text/javascript">


$(function() {
  $('#cascading').cascadingDropdown({
    selectBoxes: [
        {
            selector: '#category',
        },
        {
            selector: '#sub_category',
            requires: ['#category'],
            source: function(request, response) {
              
                category_id = $('#category').val();

                $.getJSON('/api/v1/reports/category/'+category_id+'/sub_categories', request, function(data) {
                    var selectOnlyOption = data.length <= 1;
                    response($.map(data.sub_categories, function(item, index) {
                        return {
                            label: item.name,
                            value: item.id,
                            selected: selectOnlyOption // Select if only option
                        };
                    }));
                });
            }
        }
    ]
  });
});

$(function() {
  initialize();
})

function initialize() {
  
	var mapOptions = {
		center: new google.maps.LatLng(0, 0),
		zoom: 2
	};

	var map = new google.maps.Map(document.getElementById("map-canvas"),
			mapOptions);

	<% if (report.latitude && report.longitude) then %>
		map.setCenter(new google.maps.LatLng(<%= report.latitude %>, <%= report.longitude %>));
		map.setZoom(15);
	<% end %>

	var marker = new google.maps.Marker({
	    position: new google.maps.LatLng(<%= report.latitude || 0%>, <%= report.longitude || 0 %>),
	    map: map,
	    draggable: true,
      icon: "<%= image_url "warn_pin.png" %>"
	});

	google.maps.event.addListener(marker, 'dragend', function(evt) {
	    console.log(evt.latLng);
	    document.getElementById('reports_report_latitude').value = evt.latLng.lat();
	    document.getElementById('reports_report_longitude').value = evt.latLng.lng();
	});

}
</script>

</div>

<%= display_button_bar(report, [:admin]) %>
