<section class="content-header">
<h1>
  <%= t :viewing_report %> 
</h1>
</section>

<section class="content">
  <%= display_notice notice %>

  <div class="row">

    <div class="col-md-4">
      <div class="thumbnail" id="map-canvas" data-map-detail data-map-marker="<%= @reports_report.to_json(methods: :icon_url) %>" style="width:100%; height: 350px;"></div>
    </div>
    <div class="col-md-8">
      <!-- Default box -->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"><%= t :details %></h3>
        </div>
        <div class="box-body">
          <table class="table" style="table-layout:fixed">
            <tbody>
              <tr>
                <th><%= t :description %></th>
                <td><%= @reports_report.description %></td>
              </tr>
              <tr>
                <th><%= t :category %></th>
                <td><%= @reports_report.category.name %> - <%= @reports_report.sub_category.name %></td>
              </tr>
              <tr>
                <th><%= t :added_by %></th>
                <td><%= added_by(@reports_report) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <!-- timeline -->
      <ul class="timeline" style="padding-bottom: 1px">

        <% @reports_report.states.each do |state| %>

          <li>
            <!-- timeline icon -->
            <i class="fa <%= state.status.fa_icon %> bg-blue"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words state.created_at %></span>

              <h3 class="timeline-header"><a href="#"><%= state.status.label %></a></h3>


              <% unless state.comment.empty? %>
                <div class="timeline-body">
                  <%= state.comment %>
                </div>
              <% end %>

            </div>
          </li>

        <% end %>

        <li>
          <i class="fa fa-clock-o bg-gray"></i>
        </li>
      </ul>

    </div>

  </div>


  <%= display_button_bar(@reports_report, [:admin]) %>

</section>
