<section class="content-header">
<h1>
  <%= t(:"Newsletter's emails") %>
</h1>
</section>

<section class="content">

  <div class="row">
    <div class="col-md-12">
          <div class="box box-solid">
            <!-- /.box-header -->
            <div class="box-body">
              <%= link_to '<i class="fa fa-user"></i> '.html_safe + t(:extract_all_users_emails), {controller: 'admin/newsletters', action: 'extract_users', format: 'csv'}, class: "btn btn-default" %>
              <%= link_to '<i class="fa fa-envelope"></i> '.html_safe + t(:extract_all_newsletters_emails), {controller: 'admin/newsletters', action: 'extract_newsletters', format: 'csv'}, class: "btn btn-default" %>
              <%= link_to '<i class="fa fa-user"></i> + <i class="fa fa-envelope"></i> '.html_safe + t(:extract_all_users_and_newsletters_email), {controller: 'admin/newsletters', action: 'extract_users_and_newsletters', format: 'csv'}, class: "btn btn-default" %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    </div>
  </div>

  <%= display_notice notice %>
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header">
          <h3 class="box-title"><%= t(:"Newsletter's emails") %></h3>

					<div class="box-tools">
						<%= paginate @newsletters %>
					</div>
				</div><!-- /.box-header -->
				<div class="box-body no-padding">
					<table class="table">
						<thead>
							<tr>
                <th><%= t :email %></th>
                <th><%= t :guessed_last_name %></th>
                <th><%= t :guessed_first_name %></th>
                <th><%= t :added_on %></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<% @newsletters.each do |newsletter| %>
								<tr>
									<td><%= newsletter.email %></td>
									<td><%= newsletter.last_name %></td>
									<td><%= newsletter.first_name %></td>
                  <td><%= time_ago_in_words newsletter.created_at %> <%= t :ago %></td>
									<td width="210px">
										<div class="btn-group">
											<%= link_to '<i class="fa fa-eye"></i>'.html_safe, admin_newsletter_path(newsletter), class: 'btn btn-default' %>
											<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_newsletter_path(newsletter), class: 'btn btn-default' %>
											<%= link_to '<i class="fa fa-trash"></i>'.html_safe, admin_newsletter_path(newsletter), method: :delete, data: { confirm: t('are_you_sure?') }, class: 'btn btn-danger' %>
                    </div>
                  </td>

								</tr>
							<% end %>
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</section>
