<section class="content-header">
<h1>
  <%= t(:viewing_newsletter_email) %>
</h1>
</section>

<section class="content">
  <%= display_notice notice %>
  <div class="row">

    <div class="col-md-6">
      <!-- Default box -->
      <div class="box box-solid">
        <div class="box-header">
          <h3 class="box-title"><%= t(:details) %></h3>
        </div>
        <div class="box-body">
          <table class="table">
            <tbody>
              <tr>
                <th><%= t(:email) %></th>
                <td><%= @newsletter.email %></td>
              </tr>
              <tr>
                <th><%= t(:guessed_last_name) %></th>
                <td><%= @newsletter.last_name %></td>
              </tr>
              <tr>
                <th><%= t(:guessed_first_name) %></th>
                <td><%= @newsletter.first_name %></td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div>
  <%= display_button_bar(@newsletter, [:admin]) %>
</section>
</div>
</section>
