<% 
  og title: @site.name
  og description: @site.description
  if (has_picture(@site))
    twitter card: "summary_large_image"
    og image: "https://bicimapa.com" + get_first_picture(@site)
  else
    twitter card: "summary"
    og image: "https://bicimapa.com" + @site.category.icon.url
  end
%>

<%= row do %>
  <%= column(4) do %>
    <%= panel do %>
      <div style="width: auto; height: 350px" id="map"></div>
      <%= render partial: "shared/sites/googlemap", locals: {site: @site} %>
    <% end %>
      <%
          images = []
      images << @site.picture_1 if @site.picture_1.exists?
      images << @site.picture_2 if @site.picture_2.exists?
      images << @site.picture_3 if @site.picture_3.exists?
    %>
  <% if images.any? %>
    <%= panel do %>
    <%= carousel(images) %>
  <% end %>
<% end %>
  <% end %>

  <%= column(8) do %>
    <% unless @site.has_been_reviewed %>
      <%= callout(:this_site_has_not_been_reviewed_yet) %>
    <% end %>

    <%= panel("Details") do %>
      <%= attributes_table do %>
        <%= attribute(:name, @site.name) %>
        <%= attribute(:description, @site.description) %>
        <%= attribute(:category, @site.category.name) %>
        <%= attribute(:added_by, added_by(@site)) %>
        <%= attribute(:last_update, time_ago_in_words(@site.updated_at)) %>
        <%= attribute(:rating, rating(@site.rating, @site.nb_rating)) %>

        <% if user_signed_in? %>
          <th><%= t :your_rating %></th>
          <td>
            <%= form_tag("/sites/#{@site.id}/rate", :method => :patch, :style => "display:inline", class: "form-inline") do %>
              <%= number_field_tag :rate, @site.user_rating(current_user), :in => 0..5, :step => 0.5, class: "form-control" %>
              <%= submit_tag t(:"rate"), :disabled => !user_signed_in?, class: "btn btn-default" %>
            <% end %>
          </td>
        <% end %>

      <% end %>
    <% end %>

    <%= panel("Comments") do %>

        <% if user_signed_in? %>
          <%= comment_form %>
        <% else %>
          <%= callout(:you_must_be_logged_in_to_comment) %>
        <% end %>

        <% if @site.comments.any? %>
          <hr/>
        <% end %>

        <% @site.comments.each do |comment| %>
          <%= comment(comment, @site) %>
        <% end %>

    <% end %>

  <% end %>
<% end %>

<%= button_bar do %>
  <%= link_to t(:back), :back, class: "btn btn-danger" %>
<% end %>
