<section class="content-header">
<h1>
  <%= t(:import_kml) %>
</h1>
</section>

<section class="invoice">
	<div class="row">
    <div class="col-md-12">
      <%= form_tag({:controller => 'import', :action => 'kml'}, :method => :post, :multipart => true) do |f| %> 
        <div class="form-group">
          <%= label_tag :file, t(:file) %>
          <%= file_field_tag :file %>
        </div>
        <button type="submit" class="btn btn-primary pull-right"><%= t(:load) %></button>
      <% end %>
    </div>
  </div>
</section>

<div class="clearfix"></div>
