<%= simple_form_for ride do |f| %>

  <%= row do %>
    <%= column do %>
      <%= callout(
        I18n.t(:new_ride_help_message_html, video_url: link_to("https://youtu.be/EBj3U_WJwtA", "https://youtu.be/EBj3U_WJwtA", target: "_blank")),
        "Test",
        :info)
      %>

      
      <% if ride.errors[:path].any? %>
        <%= callout(t(:path_must_be_defined), "Errors", :danger) %>
      <% end %>

      <%= panel do %>
        <div id="map" style="width:100%; height: 500px;"></div>
        <%= render partial: "shared/rides/googlemap", locals: { ride: @ride } %>
      <% end %>
    <% end %>


    <%= column do %>

      <% if !user_signed_in? %>
        <%= callout(t(:you_are_not_logged_in), t(:ride_will_be_rewarded_to_anonymous)) %>
      <% end %>

      <%= panel("Details") do %>
        <%= form_table do %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :start, as: :string %>
          <%= f.input :end, as: :string %>
          <%= f.input :path, as: :hidden %>
          <%= f.input :picture %>
        <% end %>
      <% end %>

    <% end %>

  <% end %>

  <%= button_bar do %>
    <%= link_to t(:back), :root, class: "btn btn-default" %>
    <%= f.submit t(:save), class: "btn btn-primary" %>
  <% end %>

        <script>
          $(function() {
            var options = {
              language: '<%= I18n.locale %>',
              autoclose: true,
              format: 'yyyy-mm-dd hh:ii'
            }
            $('#ride_start').datetimepicker(options);
            $('#ride_end').datetimepicker(options);
          });
        </script>


<% end %>

