<div class="row">
<div class="col-md-12">
  <section class="content-header">
    <h1><%= t(:listing_rides_near) %> <%= @city %> <span class="badge bg-light-blue"><%= @near_rides.length %></span></h1>
  </section>
  <br/>

      <div class="row">
    <% @near_rides.each do |ride| %>

        <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title"><%= ride.name %> <%= t(:on) %> <%= l ride.start, format: :long %></h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <%= link_to ride do %>
                <img src="<%= static_map_url(ride.path) %>" style="width: 100%" />
              <% end %>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>

    <% end %>
      </div>




  <section class="content-header">
    <h1><%= t(:other_rides_in_the_world) %> <span class="badge bg-light-blue"><%= @other_rides.length %></span></h1>
  </section>
  <br/>

      <div class="row">
    <% @other_rides.each do |ride| %>

        <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title"><%= ride.name %> <%= t(:on) %> <%= l ride.start, format: :long %></h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <%= link_to ride do %>
                <img src="<%= static_map_url(ride.path) %>" style="width: 100%" />
              <% end %>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>

    <% end %>
      </div>
</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-body">
        <div class="pull-right">
          <%= link_to t(:back), :back, class: "btn btn-danger" %>
          <%= link_to t(:new), new_ride_path, class: "btn btn-primary" %>
        </div>
        <div class="clearfix">
        </div>
      </div>
    </div>
  </div>
</div>
