<%= row do %>
  <%= column do %>

    <%= panel do %>
      <div style="width: auto; height: 350px" id="map"></div>
      <%= render partial: "shared/rides/googlemap", locals: { ride: @ride } %>
    <% end %>

    <% if @ride.picture.exists? %>
      <%= panel do %>
        <%= carousel(@ride.picture) %>
      <% end %>
    <% end %>

  <% end %>

  <%= column do %>
    <%= panel("Details") do %>
      <%= attributes_table do %>
        <%= attribute(:name, @ride.name) %>
        <%= attribute(:description, @ride.description) %>
        <%= attribute(:start, I18n.l(@ride.start, format: :short)) %>
        <%= attribute(:end, I18n.l(@ride.end, format: :short)) if @ride.end %>
        <%= attribute(:length, (@ride.length/1000).round(2).to_s + " km") %>
        <%= attribute(:added_by, added_by(@ride)) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= button_bar do %>
  <% if policy(@ride).update? %>
    <%= link_to t(:edit), edit_ride_path(@ride), class: "btn btn-primary" %>
  <% end %>
  <% if policy(@ride).destroy? %> 
    <%= link_to t(:delete), @ride, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to t(:back), :back, class: "btn btn-danger" %>
<% end %>

