<!DOCTYPE html>
<html>
    <head>
	<%= render 'layouts/ascii' %>
        <meta charset="UTF-8">
        <title><%= t(:bicimapa) %> | <%= t(:administrator) %></title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&sensor=false"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'adminlte', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= include_gon %>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- Ionicons -->
        <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />

        <%= render 'layouts/fonts' %>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
	<style>
		.map-canvas img {
			max-width: none !important;
		}
		#map-canvas img {
			max-width: none !important;
		}
	</style>
    </head>
    <body class="skin-blue" data-no-turbolink>
      <div class="wrapper">
        <!-- header logo: style can be found in header.less -->
        <header class="main-header">
		<%= link_to t(:bicimapa), :root, class: "logo" %>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Colapsar / Expandir navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </nav>
        </header>
          <aside class="main-sidebar">
              <!-- sidebar: style can be found in sidebar.less -->
              <section class="sidebar">
    <ul class="sidebar-menu"> 
      <li class="header"><%= t(:navigation) %></li>
      <li <%= active?(controller: '/admin/static', action: 'index') %>>
    <%= link_to controller: '/admin/static', action: 'index' do %> 
      <i class="fa fa-dashboard"></i> <span><%= t(:dashboard) %></span>
    <% end %>
                      </li>
    <li <%= active?(controller: '/admin/static', action: 'configuration') %>>
    <%= link_to controller: '/admin/static', action: 'configuration' do %>
      <i class="fa fa-cogs"></i> <span><%= t(:configuration) %></span>
    <% end %>
                      </li>
    <li <%= active?(controller: '/admin/import', action: 'kml') %>>
    <%= link_to controller: '/admin/import', action: 'kml' do %>
      <i class="fa fa-file-o"></i> <span><%= I18n.t(:import_kml) %></span>
    <% end %>
                      </li>
    <li class="treeview <%= active_tree?([admin_categories_path, admin_sites_path, admin_lines_path, admin_zones_path, admin_comments_path]) %>">
                          <a href="#">
                              <i class="fa fa-map"></i>
                              <span><%= t(:bicimapa) %></span>
                              <i class="fa fa-angle-left pull-right"></i>
                          </a>
                          <ul class="treeview-menu">
          <li <%= active?(admin_categories_path) %>>
        <%= link_to admin_categories_path, style:"margin-left: 10px" do %>
          <i class="fa fa-angle-double-right"></i> <%= t(:categories) %>
        <% end %>
          </li>
          <li <%= active?(admin_sites_path) %>>
        <%= link_to admin_sites_path, style:"margin-left: 10px" do %>
          <i class="fa fa-angle-double-right"></i> <%= t(:sites) %>
        <% end %>
          </li>
          <li <%= active?(admin_lines_path) %>>
        <%= link_to admin_lines_path, style:"margin-left: 10px" do %>
          <i class="fa fa-angle-double-right"></i> <%= t(:lines) %>
        <% end %>
          </li>
          <li <%= active?(admin_zones_path) %>>
        <%= link_to admin_zones_path, style:"margin-left: 10px" do %>
          <i class="fa fa-angle-double-right"></i> <%= t(:zones) %>
        <% end %>
          </li>
          <li <%= active?(admin_comments_path) %>>
        <%= link_to admin_comments_path, style:"margin-left: 10px" do %>
          <i class="fa fa-angle-double-right"></i> <%= t(:comments) %>
        <% end %>
          </li>
                          </ul>
                      </li>
    <li class="treeview <%= active_tree?([admin_reports_reports_path, admin_reports_categories_path, admin_reports_sub_categories_path, admin_reports_statuses_path]) %>">
                          <a href="#">
                              <i class="fa fa-map-marker"></i>
                              <span><%= t(:bicimappea) %></span>
                              <i class="fa fa-angle-left pull-right"></i>
                          </a>
                          <ul class="treeview-menu">
          <li <%= active?(admin_reports_reports_path) %>>
        <%= link_to admin_reports_reports_path, style:"margin-left: 10px" do %>
          <i class="fa fa-angle-double-right"></i> <%= t(:reports) %>
        <% end %>
          </li>
          <li <%= active?(admin_reports_categories_path) %>>
        <%= link_to admin_reports_categories_path, style:"margin-left: 10px" do %>
          <i class="fa fa-angle-double-right"></i> <%= t(:categories) %>
        <% end %>
          </li>
          <li <%= active?(admin_reports_sub_categories_path) %>>
        <%= link_to admin_reports_sub_categories_path, style:"margin-left: 10px" do %>
          <i class="fa fa-angle-double-right"></i> <%= t(:sub_categories) %>
        <% end %>
          </li>
          <li <%= active?(admin_reports_statuses_path) %>>
        <%= link_to admin_reports_statuses_path, style:"margin-left: 10px" do %>
          <i class="fa fa-angle-double-right"></i> <%= t(:statuses) %>
        <% end %>
          </li>
                          </ul>
                      </li>
                      <li <%= active?(admin_users_path) %>>
      <%= link_to admin_users_path do %>
        <i class="fa fa-users"></i> <span><%= t(:users) %></span>
    <% end %>
                      </li>
                      <li <%= active?(admin_newsletters_path) %>>
                        <%= link_to admin_newsletters_path do %>
                          <i class="fa fa-envelope"></i> <span><%= t(:newsletter) %></span>
                        <% end %>
                      </li>
                  </ul>
              </section>
              <!-- /.sidebar -->
          </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <div class="content-wrapper">
		    <%= yield %>
            </div><!-- /.right-side -->

      </div>
    </body>
</html>

