<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/ascii' %>
    <meta charset="UTF-8">
    <title><%= t(:bicimapa) %> | <%= t(:moderator) %></title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&sensor=false"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'adminlte', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= include_gon %>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Ionicons -->
    <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <%= render 'layouts/fonts' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <style>
.map-canvas img {
  max-width: none !important;
}
      </style>
  </head>
  <body class="skin-black" data-no-turbolink>
    <div class="wrapper">
      <!-- header logo: style can be found in header.less -->
      <header class="main-header">
        <%= link_to t(:bicimapa), :root, class: "logo" %>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Colapsar / Expandir navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <ul class="sidebar-menu">
            <li <%= active?(moderator_sites_review_path) %>>
              <%= link_to moderator_sites_review_path do %>
                <i class="fa fa-question-circle"></i> <span><%= t(:to_review) %></span>
              <% end %>
            </li>
            <li <%= active?(moderator_sites_path) %>>
              <%= link_to moderator_sites_path do %>
                <i class="fa fa-map-marker"></i> <span><%= t(:all_sites) %></span>
              <% end %>
            </li>
            <li class="treeview <%= active_tree?([moderator_lines_path]) %>">
              <a href="#">
                <i class="fa fa-minus"></i>
                <span><%= t(:lines) %></span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li <%= active?(moderator_lines_path) %>>
                  <%= link_to moderator_lines_path, style:"margin-left: 10px" do %>
                    <i class="fa fa-angle-double-right"></i> <%= t(:my_lines) %>
                <% end %>
                </li>
              </ul>
            </li>
            <li <%= active?(moderator_zones_path) %>>
              <%= link_to moderator_zones_path do %>
                <i class="fa fa-road"></i> <span><%= t(:my_zones) %></span>
              <% end %>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <%= yield %>
      </div><!-- /.right-side -->
    </div>
  </body>
</html>

