<h1>Listing sites</h1>


<%= paginate @sites %>

<% @sites.each do |site| %>

<div style="width: 100%; border: 1px solid black; margin: 10px 0px">


	<%


	   if !site.has_been_reviewed
		   @color = "#E2E4F8"
	   else

		   if site.is_active
			  @color = "#9AF596"
		   else
			  @color = "#FFC2C9"
		   end

	   end
	
		%>

	<table style="background-color:<%= @color %>">
		<tr>
			<th style="text-align: right">Name:</th><td><%= site.name %></td>
			<td rowspan="5">
				<% if site.category != nil %>
					<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?markers=size:tiny|icon:http://bicimapa.ylecuyer.co.vu:3000#{site.category.icon.url}|#{site.latitude},#{site.longitude}&zoom=13&size=200x100&sensor=false" %>
				<% else %>
					<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?markers=size:tiny|#{site.latitude},#{site.longitude}&zoom=13&size=200x100&sensor=false" %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th style="text-align: right">Description:</th><td style="width:100%"><%= site.description %></td>
		</tr>
		<tr>
			<th style="text-align: right">Added by:</th><td><%= site.user_email %></td>
		</tr>
		<tr>
			<th style="text-align: right">Status:</th>
			<td>
				<% if site.has_been_reviewed %>
					Has been reviewed with status: <b><%= (site.is_active)?"active":"non active" %></b></b>
				<% else %>
					Has not been reviewed
				<% end %>
			</td>
		</tr>
		<tr>
			<th style="text-align: right">Actions:</th>
			<td colspan="3">

				<%= link_to 'Deactivate', {:controller => 'sites', :action => 'deactivate', :id => site} %>
				<%= link_to 'Activate', {:controller => 'sites', :action => 'activate', :id => site} %>

				<%= link_to t(:show), admin_site_path(site) %>
				<%= link_to t(:edit), edit_admin_site_path(site) %>
				<%= link_to t(:destroy), admin_site_path(site), method: :delete, data: { confirm: t('are_you_sure?') } %>
			</td>
		</tr>
	</table>

</div>

<% end %>

<%= paginate @sites %>

<br>

<%= link_to 'New Site', new_admin_site_path %>
